.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0d0d;
}

.Console {
  margin: 3vw;
  padding: 1vw;
  background-color: #1f1f1f;
  font-family: Consolas;
  color: orange;
  font-size: 2em;
  flex: 2;
}

.ProfilePicture {
  margin-top: 1vw;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.FadeIn {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;

  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}

.Mid {
  background-color: #171f24;
  height: 100%;
  min-width: 400px;
}

@media(min-width:0px) {
  .Mid {
    flex-basis: 100%
  }
}

@media(min-width:1280px) {
  .Mid {
    min-width: 1280px;
    flex-basis: 50%
  }
}

.Welcome {
  display: flex;
  align-items: stretch;
}

.Welcome img {
  height: 20vh;
}

.Header {
  height: 10vh;
  width: 100%;
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header h1 {
  color: aliceblue;
  margin-top: 0;
  padding-top: 2vh;
  font-size: 4vh; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.NavBar {
  height: 5vh;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: stretch;

}

.NavItem {
  color:white;
  font-size: 2em;
  /*border: 1px #333333 solid;*/
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavItem:first-child {
  border-right: 1px #333 solid;
}

.NavItem:last-child {
  border-left: 1px #333 solid;
}

.NavItem:hover {
  background-color: #333333;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);   
}

.InfoContent {
  margin: 5% 5%;
}

